//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;
$white: #ffffff;
$gray: #2f3234;

$z-fixed-menu: 100;

//resolutions

$phones: 480px;
$tablets: 768px;
$laptop: 992px;
$desktop: 1200px;

//normalize
@import "_misc/normalize.scss";

//setups
@import "_misc/mixins.scss";
@import "_misc/fonts.scss";
@import "_misc/layout.scss";

@import "blocks/section.scss";
//@import "blocks/video-bg.scss";
@import "blocks/hero.scss";
@import "blocks/header.scss";
@import "blocks/nav.scss";
@import "blocks/btn.scss";
@import "blocks/title.scss";
@import "blocks/scroll-down-btn.scss";
@import "blocks/best.scss";
@import "blocks/reviews.scss";
@import "blocks/fixed-menu.scss";
@import "blocks/menu.scss";
@import "blocks/vertical.scss";
@import "blocks/team.scss";
@import "blocks/team-list.scss";
@import "blocks/order.scss";
@import "blocks/map.scss";
@import "blocks/footer.scss";
@import "blocks/social.scss";
@import "blocks/logo.scss";
@import "blocks/media.scss";












