.best{
    background: url('../img/bg.jpg') center center / cover no-repeat;
}

.best__list{
    display: flex;

    @include phones{
        flex-direction: column;
    }
}

.best__item{
    flex: 1;
    margin-right: rem(35px);
    text-align: center;
    flex-direction: column;
    &:last-child{
        margin-right: 0;
    }

    @include phones{
        display: flex;
        flex-direction: row;
    }
}

.best__picture-icon{
    width: 90%;
    height: rem(100px);
    margin-bottom: rem(54px);
    svg{
        max-width: 95%;
    }

    @include phones{
        margin-bottom: 0;
    }
}

.best__desc{
    @include phones{
        text-align: left;
        margin-bottom: rem(20px);
        margin-left: rem(15px);
    }
}

.best__picture-icon{
    width: rem(97px);
    height: rem(89px);
    fill: $red;
    svg{
        min-width: 95%;
    }
}

.best__title{
    font-size: rem(24px);
    @include lifehack();
    margin-bottom: rem(33px);
    }