.best{
    background: url('../img/bg.jpg') center center / cover no-repeat;
}

.best__list{
    display: flex;
}

.best__item{
    flex: 1;
    margin-right: rem(35px);
    text-align: center;
    &:last-child{
        margin-right: 0;
    }
}

.best__picture{
    margin-bottom: rem(54px);
}

.best__picture-icon{
    width: rem(97px);
    height: rem(89px);
    fill: $red;
    svg{
        min-width: 95%;
    }
}

.best__title{
    font-size: rem(24px);
    @include lifehack();
    margin-bottom: rem(33px);
    }