.btn{
  padding: rem(15px) rem(12px);
  border-radius: rem(5px);
  background: $red;
  text-transform: uppercase;
  color: #ffffff;
  font-size: rem(13px);
  outline: none;

  &--color--gray{
    background: $gray;
    }
  }

  .btn--color--gray:hover {
    background: #1f2122;
    transition: .3s;
  }
