.btn{
  padding: 15px 12px;
  border-radius: 5px;
  background: $red;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 13px;

  &--color--gray{
    background:$gray;
    }
  }

  .btn--color--gray:hover {
    background: blue;
    transition: .3s;
  }
