.btn{
  padding: rem(15px) rem(12px);
  border-radius: rem(5px);
  background: $red;
  text-transform: uppercase;
  color: #ffffff;
  font-size: rem(13px);
  outline: none;

  &--color--gray{
    background: $gray;

    @include phones{
      visibility: hidden;
        &::after{
          content: 'читать отзыв';
          text-transform: uppercase;
          visibility: visible;
          display: block;
          padding: rem(13px) rem(15px);
          background: $gray;
          top: rem(20px);
          font-size: rem(13px);
          border-radius: rem(5px);
        }
        &.btn--color--gray:hover {
          background: #1f2122;
          transition: .3s;
        }
      }
    }
  }


  .btn--color--gray:hover {
    background: #1f2122;
    transition: .3s;
  }
