.footer{
  background: black;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
}

.footer__container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__contacts{
  width: 50%;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.footer__address-text{
  color: $white;
  font-size: 14px;
}

.footer__icon{
  width: 13px;
  height: 13px;
  max-width: 100%;
  svg{
    min-width: 95%;
  }
}


.footer__phone{
  color: $red;
  @include ubuntu(bold);
  text-decoration: none;
  font-size: 14px;
}

.footer__contacts_social{
  text-align: right;
  margin-bottom: 0;
}

