.hero{
  background: url('../img/about.jpg') center center /cover no-repeat;
  position: relative;
}

.hero__container{
  height: 100%;
}

.hero__content{
  display: flex;
  align-items: center;
  flex: .8;
}

.nero__desc{
  padding-top: 85px; 
  margin-left: 20px;
}

.hero__subtitle{
  font-size: 65px;
  color: white;
  line-height: 1;
  @include lifehack;
}
