.order{
  background: url('../img/order.jpg') 50% / cover no-repeat;
  color: white;
  display: flex;
  align-items: center;
}

.order__container{
  margin: 0;
}

.order__form{
  @extend %clearfix;
  margin-left: 5%;
  content: "";
	display: table;
}

.order__form-colum{
  float: left;
  width: 45%;
  flex: 1;
  margin-left: 5%;
}

.order__form-row{
  display: flex;
  outline: none;
  margin-bottom: 16px;
  position: relative;
}

.order__form-block__title{
  margin-bottom: 17px;
  @include ubuntu();
  color: $white;
  font-size: 14px;
}

.order__form-block{
  display: block;
  flex: 1;
  margin-right: 10px;

  &:last-child{
    margin-right: 0;
  }
}

.order__form-input{
  font-size: 14px;
  background: white;
  border-radius: 3px;
  border: none;
  padding: 8px 21px;
  border: 1px solid $white;
  width: 100%;
  &--textarea{
    resize: none;
    height: 110px;
    text-decoration: none;

  }
  &:hover{
    outline-color: $red;
  }
  &:after{
    outline: none;
  }
}

.order__radio{
  position: relative;
  white-space: nowrap;
  margin-right: 20px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  display: flex;
  &:last-child{
    margin-right: 0;
  }

}
.order__radio-elem {
  position: absolute;
  top: 0;
  opacity: 0;
}

.order__radio-fake {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: $white;
  display: inline-block;
  vertical-align: middle;
  position: relative;

  /*&__square{
    border-radius: 0%;
  }*/

  &:after{
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: $white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;

  }
}


.order__radio-elem:checked{
  &+.order__radio-fake{
    &:after{
      width: 6px;
      height: 6px;
      background: $red;
    }
  }
}

.order__radio-title{
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: $white;
  margin-left: 10px;
}

.order__radio-fake__square{
  &.order__radio-fake{
    border-radius: 0px;
  }

  .order__radio-elem{
    &+.order__radio-fake{
      &:after{
        background: transparent;
      }
    }
  }
}

.order__form-buttons{
  display: inline-block;
  vertical-align: middle;
  border: 0;
  font-size: 13px;
  border-radius: 5px;
  color: $white;
  @include ubuntu (middle);
  padding: 10px 15px 15px 0px;
  cursor: pointer;
}

.order__form-button__reset{
  padding-left: 0;
  padding-right: 0;
  text-transform: none;
  background: transparent;
}
