.reviews__list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.reviews__item {
  width: 25%;
  height: 50%;
  background: center center / cover no-repeat;
  position: relative;

  @include tablets {
    width: 50%;
    height: 25%;
  }

  &:hover {
    &:before{
    background-color: rgba(0, 0, 0, 0.534);
    position: absolute;
    content: '';
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    }
    
    .reviews__hover {
      opacity: 1;
    }
  }
}



.reviews__hover {
  color: white;
  position: absolute;
  background: rgba (#444646, .5);
  opacity: 0;
  transition: opacity .3s;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  max-width: rem(235px);

  @include tablets{
    padding-top: 5%;
    max-width: rem(286px);
    text-align: center;
  }
}

.reviews__title {
  font-size: rem(14px);
  @include gagalin();
  margin-bottom: rem(30px);
  
  @include tablets{
    font-size: rem(13px);
    margin-bottom: rem(15px);
  }

  @include phones {
    font-size: rem(24px);
  }
}

.reviews__text {
  margin-bottom: rem(14px);

  @include tablets{
    font-size: rem(13px);
  }

  @include phones {
    display: none;
  }
}

.reviews__pic {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}