.scroll-down-btn {
  width: rem(29px);
  height: rem(14px);
  background: url('../img/arrow-scroll.svg') center center / contain no-repeat;
  display: block;
  position: absolute;
  bottom: rem(20px);
  left: 50%;
  transform: translateX(-50%);
}