.slider-wrap{
    position: relative;
}

.slider__btn_next{
    right: -2.5em;
}

.slider__btn{
    position: absolute;
    top: 50%;
    transform: translate(-50%);
}

.slider__item{
    position: relative;
    padding-bottom: rem(80px);
    display: flex;
}

.slider__left{
    text-align: center;
    align-items: flex-end;
    display: flex;
    justify-content: center;
}

.slider__left, .slider__right{
    flex: 1;
}

.burger-weight{
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: .5;
}

.slider__pic{
    max-width: 98%;
}

.slider__text{
    color: $white;
    margin-bottom: rem(30px);
    font-size: rem(14px);
}

.slider__options{
    display: flex;
    align-items: flex-end;
}

.slider__price{
    display: flex;
    align-items: flex-end;
    color: #e35028;
    font-family: gagalin, cursive;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    margin-right: rem(24px);
    &-sum{
        font-size: rem(72px);
    }
    &-text{
        font-size: rem(30px);
    }
    &-sum, .-text{
        line-height: 1;
    }
}

