.social{
  position: relative;
  top: 50%;
}

.social__item{
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.social__link{
  display: inline-block;
  min-width: 23px;
  min-height: 20px;
  opacity: .3;
  transition: .3s;

  &:hover{
    opacity: 1;
  }
}

.social__link-svg{
  width: 20px;
  height: 20px;
  svg{
    min-width: 95%;
  }
}