.team-list__item{
  margin-bottom: rem(40px);
  &:last-child{
    margin-bottom: 0;
  }
  &.active{
    .team-list__content{
      height: 100%;
      display: flex;
    }
    .team-list__trigger{
      color: $yellow;

      &:before{
        transform: rotate(-180deg);
      }
    }
  }
}

.team-list__trigger{
  color: $white;
  font-size: rem(14px);
  @include gagalin;
  text-decoration: none;
  position: relative;
  display: block;
  margin-bottom: rem(20px);

  &:before, &:after{
    content: '';
    display: block;
    position: absolute;
    left: rem(-18px);
    top: rem(8px);
    width: 0;
    height: 0;
  }

  &:before{
    border-top: rem(7px) solid $yellow;
    border-left: rem(5px) solid transparent;
    border-right: rem(5px) solid transparent;
    border-bottom: rem(0px) solid transparent;
    transform: rotate(0deg);
    transition:  .3s;
  }

  &:after{
    display: none;
    border-bottom: rem(7px) solid $yellow;
    border-left: rem(5px) solid transparent;
    border-right: rem(5px) solid transparent;
    border-top: rem(0px) solid transparent;
  }
}

.team-list__content{
  @extend %clearfix;
  padding-top: rem(14px);
  display: none;
}

.team-list__pic{
  text-align: center;
  width: 30%;
  margin-right: rem(20px);
}

.team-list__img{
  display: inline-block;
  width: rem(100px);
  height: rem(100px);
  @include cover;
  border-radius: 50%;
}

.team-list__text{
  width: 70%;
}

.team-list__pic, .team-list__text{
}

.team-list__title{
  @include ubuntu (bold);
  font-size: rem(14px);
  color: $white;
  margin-bottom: rem(14px);
}

.team-list__text-content{
  @include ubuntu (light);
  color: $white;
  font-size: rem(14px);
}