.title{
  font-size: 72px;
  @include gagalin();
  color: $yellow;
  margin-bottom: 55px;
  line-height: 1;
  &--color{
    &--white{
      color: $white;

    }
    &--black{
      color: $black;
    }  
  }
  &--centered{
    text-align: center;
  }
}

